.cform form {
    display: flex;
    flex-direction: column;
}

.cform label {
    margin-top: 1em;
    font-weight: bold;
}

.cform input, .cform select, .cform textarea, .cform button {
    margin-top: 0.5em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cform button {
    background-color: #003B6D;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1em;
}